# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment
.env
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# SIEM/log data (important)
logs/
*.jsonl
*.evtx
*.pcap